body{
    font-family: "Anonymous Pro", monospace;
    color: #ff9294;
    background-color: #fffbf4; 
}

h1{
    font-size: 40px; 
}

h2{
    font-size: 25px; 
}

#buttonsCalculator{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
    width: 300px;    
}

#inputCalculator{
    width: 300px; 
    height: 50px;
    border: 2px solid #ff9294;
    margin-top: 10px; 
    margin-bottom: 20px; 
    color: #ff9294;   
    font-weight: bold; 
    font-size: 30px; 
    text-align: center; 
}

#outerCalculator{
    width: 600px; 
    height: 570px; 
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background-color: #ffe5e5; 
    border: 2px solid #ff9294;
}

.calcBtn{
    background-color: #ff9294;
    color: #f9f9f9; 
    font-weight: bold;
    border: 5px solid #f9f9f9; 
    height: 90px;
    width: 90px;  
    font-size: 30px; 
}

.calcBtn:hover{
    cursor: pointer; 
    background-color: #ff6d70; 
    transition: 0.3s; 
}

.calcBtn:active{
    height: 85px;
    width: 85px; 
    transition: 0.3s; 
}